.header {
    padding-top: 15px;
    min-height: 85px;
    .row {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 225px;
        &_img {
            padding: 4px 6px 0 0;
        }
        &_inf {
            &_head {
                font-size: 14px;
                font-weight: 700;
            }
            &_descr {
                color: #242424;
                font-size: 12px;
                font-weight: 300;
                line-height: 18px;
            }
        }
    }
}